@import '../../../partials/variables';

.Photo{
    margin: 10em auto 0;
    &-grid{
        display: grid;
        grid-template-columns: repeat( 3, 1fr );
        gap: 1em;
        padding: 1em;
    }
}

.Big{
    grid-column: span 2;
    grid-row: span 2;
}