@import '/src/partials/variables';

.Header{
    background-color: transparent;
    padding: 3em 5em;
    position: fixed;
    width: 100%;
    &-wrapper{
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        // max-width: 1440px;
        // margin: auto;
    }
    &-logo{}
    &-img{
        width: 10em;
    }
    &-button{
        display: none;
    }
    &-nav{
        font-size: 1.5em;
        text-transform: uppercase;
        font-weight: 600;
        color: white;
    }
    &-ul{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        gap: 1.5em;
    }
    &-li{}
    &-a{}
}
