.Spinner {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &-loader{
        position: relative;
    }
    &-img{
        position: absolute;
        top: calc( 50% - 3em );
        left: calc( 50% - 3em );
        max-width: 6em;
        animation: rotate 3.5s linear infinite;
    }
}
@keyframes rotate {
    0%{
        transform: rotate(-90deg);
    }
    50%{
        transform: rotate(90deg);
    }
    100%{
        transform: rotate(270deg);
    }
}