@import '/src/partials/variables';

.Footer{
    width: 100%;
    min-height: 20vh;
    color: $white;
    &-Wrapper{}
    &-ul{
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        gap: 2em;
    }
    &-li{
        color: $white;
        font-size: 1.5em;
        transition: all 0.3s ease;
        &:hover{
            color: $gray;
            transform: scale(1.2);
        }
    }
    &-a{}
    &-register{
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
    }
}