@import '/src/partials/variables';

.About{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    // padding: 12em;

    &-info{
        font-size: 3.5em;
        font-weight: 800;
        margin: 0 2em 0 0;
    }
    &-p{
        &:first-child{
            margin: 0 0 1em;
        }
    }
    &-contact{
        font-size: 1.8em;
    }
    &-subp{}
    &-mail{}
}

.About-background{
    margin-top: 11em;
}