@import '/src/partials/variables';

.About{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
    &-info{
        font-size: 4.2em;
        font-weight: 800;
    }
    &-p{}
}