@import '/src/partials/variables';
.Intro{
    // min-height: 150vh;
    &-video{
        min-height: 90vh;
    }
    &-works{}
    &-a{
        position: relative;
        &:hover{
            .Intro-element{
                opacity: 0.5;
            }
            .Intro-text{
                transform: scale(1.3);
            }
        }
    }
    &-element{
        width: 100%;
        min-height: 35vh;
        background-color: $black;
        opacity: 1;
        transition: all 0.4s ease;
    }
    &-elementVideo{
        background-image: url(/public/assets/SOMIEDO/P1022369.jpg);
        background-size: cover;
        background-position: center;
        margin: 0 0 3em 0;
    }
    &-text{
        position: absolute;
        top: 30%;
        left: 20%;
        color: $white;
        text-transform: uppercase;
        transition: all 0.4s ease;
        &::after{
            position: absolute;
            width: 100px;
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: $white;
        }
    }
    &-p{}
    &-h2{}
}