@import '../../../partials/variables';

.Video{
    min-height: 350vh;
    &-vid{
        position: fixed;
        top: 0;
        left: 0;
        transition: all 3s ease;
        &.Scrolled{
            transform: translateY(-1000px);
        }
    }
    &-video{
        min-height: 90vh;
        // padding: 9em 0;
        // min-height: 100vh;
    }
    &-btn{
        position: absolute;
        top: calc( 50% - 22.5px );
        left: calc( 50% - 100px );
    }
    &-h2{
        position: relative;
        top: 300vh;
        left: 0;
        text-align: center;
        font-size: 3.6em;
    }
}